
$primary:rgb(0, 88, 53);

.navbar{
 
   background-color: $primary


  
}


.nav-item {
    color:white;
    margin-left:14px;
    font-family: sans-serif;


    &:hover{

        border-bottom: solid 2px #fff;
    }
}



.btn-white{

    color: $primary;
    box-shadow: $primary 0px 6px 22px;
    background: rgb(246, 246, 246);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 88, 53);
    border-image: initial;
    transition: all 0.2s ease-in-out 0s;
    border-radius: 30px;
    padding:11px 28px 

}