<footer class="footer hero-area">
  <div class="container-fluid">

    <img src="../../assets/imagex/coa.png" class="imgx">

  <h4>Contact Information</h4>

    <p>Nigeria @60 The Challenge Office</p>
    <p>
      Federal Ministry of Communications and Digital Economy P.M.B. 12578
      Federal Secretariat Complex Phase I, Annex III, Shehu Shagari Way Abuja
      FCT 900211 Nigeria
    </p>

    <hr>
    <p>Privacy Policy</p>
    <p>Terms & Conditions</p>
    <p>
      Copyright © 2020 | Ministry of Communications and Digital Economy | All
      Right Reserved
    </p>
  </div>

</footer>
