$primary: rgb(0, 88, 53);
$commonwhite: #fff;
$primary-bg: #005835;

footer {
  
    background-color:$primary-bg;
    color:$commonwhite;
    text-align:center;

    p{
        font-size:13px;
        margin:17px 0 17px 0
    }

    hr{
        color:$commonwhite
    }

    .imgx{
        width:7%;
        
    }
}

    
    .hero-area {
      background-image: url(../../assets/imagex/bg.svg);
      // background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 100px 0 0 0;
      position: relative;
      overflow: hidden;}