

<section class="hero-area">
  <div class="container">
    <div class="hero-text text-center">
      <h1>Nigeria@60 Challenge</h1>
      <p><strong>Theme:</strong> Together at 60.</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-5 mt-5">
        <img
          src="../../assets/imagex/president.png"
          alt="president image"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 col-md-6 mt-5">
        <div>
          <img
            src="../../assets/imagex/map.svg"
            alt="hero-image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
