$primary:rgb(0, 88, 53);




.hero-area{
    margin-top:130px;
text-align:center;
    background-image: url(../../assets/imagex/bg.svg);;
    background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
    h1{
        color: $primary;
        font-weight: 700;
    }
p{
    font-size: 17px;
}

    img{
        width:80%;
    }

}