<!-- <p>timeline works!</p> -->

<section class="timeline-area">
  <div class="container-fluid">
    <h1>Timeline</h1>
    <p class="mt-5">
      Applications are now welcome from idnividuals and teams for the three
      categories. The best concepts will be screened and the top three from each
      of the categories will be selected by a jury of professional writers,
      poets and photagraphers. The finalists will make presentations to the
      President and winners will be announced on the 1st October 2020
    </p>




    <section class="timeline">


      <ul>
        <li class="in-view">
          <div><time>5th September, 2020</time> Launching</div>
        </li>
        <li class="in-view">
          <div><time>15th September, 2020</time> Applications Close</div>
        </li>
        <li class="in-view">
          <div><time>15th September, 2020</time> Best Logo Voting Close</div>
        </li>
        <li class="in-view">
          <div><time>20th September, 2020</time> Finalists Selected</div>
        </li>
        <li class="in-view">
          <div><time>1st October, 2020</time> Presentation Day</div>
        </li>
      </ul>
    </section>
  </div>
</section>
